<nav class="mt-5 d-flex justify-content-center" aria-label="Page navigation">
    <ul class="pagination">
        {{#if prev}}
        <li class="page-item">
            <a class="page-link" href="{{page_url prev}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">上一页</span>
            </a>
        </li>
        {{/if}}
        {{#if next}}
        <li class="page-item">
            <a class="page-link" href="{{page_url next}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">下一页</span>
            </a>
        </li>
        {{/if}}
    </ul>
</nav>