<div class="aside-footer">
    <ul class="list-unstyled list-inline">
        <li class="list-inline-item"><a href="#"><i class="fab fa-qq"></i></a></li>
        <li class="list-inline-item"><a href="#"><i class="fab fa-weibo"></i></a></li>
        <li class="list-inline-item"><a href="#"><i class="fab fa-github"></i></a></li>
        <li class="list-inline-item"><a href="#" id="search-toggler"><i class="fas fa-search"></i></a></li>
    </ul>
</div>