<div class="aside-footer">
    <ul class="list-unstyled list-inline">
        <li class="list-inline-item"><a href="#"><i class="lni-facebook-filled"></i></a></li>
        <li class="list-inline-item"><a href="#"><i class="lni-skype"></i></i></a></li>
        <li class="list-inline-item"><a href="#"><i class="lni-youtube"></i></a></li>
        <li class="list-inline-item"><a href="#"><i class="lni-linkedin-original"></i></a></li>
    </ul>
</div>